*{
    margin: 0;
    padding: 0;
}
.container{
    width: 80vw;
    margin: 50px auto;
    background-image: url(images/bg.jpg);
    padding: 20px;
}
.container h3{
    color: #fff;
    text-align: center;
}
.timers{
    display: grid;
    grid-template-columns : repeat(4, 1fr);
    gap: 5px;
    /* background:red; */
    text-align: center;
    padding: 20px 0 10px;
    margin: 20px 0;
}

.timer .value{
    background-color: #fff;
    display: inline;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 25px;
    font-weight: 600;
    color: blue;
    width: 25px;
}
.timer h5{
    margin-top: 10px;
    color: #fff;
}
button{
    margin-left: 50%;
    transform: translateX(-50%);
    border: 0;
    padding: 15px 35px;
    border-radius: 10px;
    font-size: 20px;
    background-color: blue;
    color: #fff;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}
button:hover{
    color: blue;
    background-color: #fff;
}
@media screen and (min-width:700px){
    .container{
        width: 50vw;
    }
}