*{
    margin: 0;
    padding: 0;
}
.container{
    width: 70vw;
    height: 50vh;
    margin:10% auto ;
    text-align: center;
}
h2{
    font-size: 35px;
    font-weight: bold;
    font-family: cursive;
    line-height: 45px;
}
p{
    font-size: 35px;
    font-family: cursive;
}
.timer{
    display: flex;
    justify-content: space-between;
    margin-top: 25px
}
.time span{
    background-color: #30A4BA;
    padding: 10px 10px;
    border-radius: 10px;
    font-size: 25px;
    color: #fff;
}
.time h5{
    margin: 10px 0;
    font-weight: bold;
    font-family: cursive;
}
@media  screen and (min-width:700px) {
    .container{
        width: 30vw;
    }
}